/backend/node_modules
/frontend/node_modules
/backend/dist
/frontend/dist
.DS_Store
/frontend/.DS_Store
/backend/.DS_Store
/frontend/.env
/frontend-user/node_modules
/frontend-user/dist
/frontend-company/node_modules
/frontend-company/dist
/frontend-auth/node_modules
/frontend-auth/dist
/backend/.env
/DEPLOY.md
/VISION.md
/BOARD_TASKS.md
/BACKLOG.md
/DESIGN.md
/docs/*
.cursor/*