/backend/node_modules
/frontend/node_modules
/backend/dist
/frontend/dist
/backend/package-lock.json
/frontend/package-lock.json
.DS_Store
/frontend/.DS_Store
/backend/.DS_Store
/frontend/.env
/backend/.env
/DEPLOY.md
/VISION.md
/BOARD_TASKS.md
/BACKLOG.md
/DESIGN.md
/docs/*
.cursor/*